@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition-duration: 300ms;
}

body {
  @apply antialiased;
}

* {
  transition: background-color var(--transition-duration), border-color var(--transition-duration);
}

.dark {
  color-scheme: dark;
}
